# Pandas Practice üë©üèº‚Äçüíª

Este cuaderno est√° dedicado a practicar diferentes tareas con Pandas. Las soluciones est√°n disponibles en un [cuaderno de soluciones](./3-pandas-exercises-solutions.ipynb); sin embargo, siempre debes intentar resolver los ejercicios por tu cuenta primero.

üìå Es importante tener en cuenta que puede haber m√°s de una forma de responder una pregunta o completar un ejercicio.

Los ejercicios est√°n basados (y tomados directamente) del [cuaderno de introducci√≥n r√°pida a Pandas](./1-introduccion-pandas.ipynb).

Para m√°s referencias y recursos, se recomienda consultar la [documentaci√≥n de Pandas](https://pandas.pydata.org/pandas-docs/stable/).

In [1]:
# Import pandas

In [2]:
# Create a series of three different colours

In [3]:
# View the series of different colours

In [4]:
# Create a series of three different car types and view it

In [5]:
# Combine the Series of cars and colours into a DataFrame

In [6]:
# Import "../data/car-sales.csv" and turn it into a DataFrame

‚úçüèº **Nota:** Dado que has importado `../../data/raw/car-sales.csv` como un DataFrame, ahora nos referiremos a este DataFrame como ''. **Nota:** Dado que has importado `../../data/raw/car-sales.csv` com'.

In [7]:
# Export the DataFrame you created to a .csv file

In [8]:
# Find the different datatypes of the car data DataFrame

In [9]:
# Describe your current car sales DataFrame using describe()

In [10]:
# Get information about your DataFrame using info()

¬øQu√© te muestra?

In [11]:
# Create a Series of different numbers and find the mean of them

In [12]:
# Create a Series of different numbers and find the sum of them

In [13]:
# List out all the column names of the car sales DataFrame

In [14]:
# Find the length of the car sales DataFrame

In [15]:
# Show the first 5 rows of the car sales DataFrame

In [16]:
# Show the first 7 rows of the car sales DataFrame

In [17]:
# Show the bottom 5 rows of the car sales DataFrame

In [18]:
# Use .loc to select the row at index 3 of the car sales DataFrame

In [19]:
# Use .iloc to select the row at position 3 of the car sales DataFrame

¬øNotas c√≥mo son iguales? ¬øPor qu√© crees que es as√≠?

Consulta la documentaci√≥n de [.loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) y [.iloc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html). Piensa en una situaci√≥n diferente para cada uno y pru√©balos.

In [20]:
# Select the "Odometer (KM)" column from the car sales DataFrame

In [21]:
# Find the mean of the "Odometer (KM)" column in the car sales DataFrame

In [22]:
# Select the rows with over 100,000 kilometers on the Odometer

In [23]:
# Create a crosstab of the Make and Doors columns

In [24]:
# Group columns of the car sales DataFrame by the Make column and find the average

In [25]:
# Import Matplotlib and create a plot of the Odometer column
# Don't forget to use %matplotlib inline

In [26]:
# Create a histogram of the Odometer column using hist()

In [27]:
# Try to plot the Price column using plot()

ü§î ¬øPor qu√© no funcion√≥? ¬øPuedes pensar en una soluci√≥n?

üí° Tal vez quieras buscar "c√≥mo convertir una columna de cadenas de pandas a n√∫meros". 

‚úçüèº Y si a√∫n est√°s atascado, consulta esta [pregunta y respuesta de Stack Overflow sobre c√≥mo convertir una columna de precios en enteros](https://stackoverflow.com/questions/44469313/price-column-object-to-int-in-pandas).

In [28]:
# Remove the punctuation from price column

In [29]:
# Check the changes to the price column

In [30]:
# Remove the two extra zeros at the end of the price column

In [31]:
# Check the changes to the Price column

In [32]:
# Change the datatype of the Price column to integers

In [33]:
# Lower the strings of the Make column

Si revisas el DataFrame de ventas de coches, notar√°s que la columna Make no se ha cambiado a min√∫sculas.

ü§î ¬øC√≥mo podr√≠as hacer que estos cambios sean permanentes?

Pru√©balo.

In [34]:
# Make lowering the case of the Make column permanent

In [35]:
# Check the car sales DataFrame

Observe c√≥mo la columna de "Make" permanece baja despu√©s de reasignar.

Ahora tratemos con los datos faltantes.

In [36]:
# Import the car sales DataFrame with missing data ("../data/car-sales-missing-data.csv")


# Check out the new DataFrame

Observe que los valores faltantes se representan como `NaN` en los DataFrames de pandas.

Intentemos llenarlos.

In [37]:
# Fill the Odometer column missing values with the mean of the column inplace

In [38]:
# View the car sales missing DataFrame and verify the changes

In [39]:
# Remove the rest of the missing data inplace

In [40]:
# Verify the missing values are removed by viewing the DataFrame

Ahora comenzaremos a agregar columnas a nuestro DataFrame.

In [41]:
# Create a "Seats" column where every row has a value of 5

In [42]:
# Create a column called "Engine Size" with random values between 1.3 and 4.5
# Remember: If you're doing it from a Python list, the list has to be the same length
# as the DataFrame

In [43]:
# Create a column which represents the price of a car per kilometer
# Then view the DataFrame

In [44]:
# Remove the last column you added using .drop()

In [45]:
# Shuffle the DataFrame using sample() with the frac parameter set to 1
# Save the the shuffled DataFrame to a new variable

Observe c√≥mo se mueven los n√∫meros del √≠ndice. La funci√≥n [`sample()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html) es una excelente manera de obtener muestras aleatorias de su DataFrame. Tambi√©n es otra gran forma de mezclar las filas configurando `frac=1`.

In [46]:
# Reset the indexes of the shuffled DataFrame

Observa que los n√∫meros de √≠ndice tienen otro orden (comenzando desde 0).

In [47]:
# Change the Odometer values from kilometers to miles using a Lambda function
# Then view the DataFrame

In [48]:
# Change the title of the Odometer (KM) to represent miles instead of kilometers

## Extensiones

Para m√°s ejercicios, revisa la documentaci√≥n de Pandas, en particular la secci√≥n [10 minutos con Pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html).

Un excelente ejercicio ser√≠a reescribir toda esta secci√≥n en tu propio cuaderno de Jupyter Notebook.

Interact√∫a con el c√≥digo y observa qu√© hace.

El siguiente lugar que deber√≠as explorar son las [preguntas y respuestas principales sobre Pandas en Stack Overflow](https://stackoverflow.com/questions/tagged/pandas?sort=MostVotes&edited=true). A menudo, estas contienen algunas de las funciones m√°s √∫tiles y comunes de Pandas. ¬°Juega con los diferentes filtros!

Finalmente, recuerda siempre que la mejor manera de aprender algo nuevo es intent√°ndolo. ‚ú®